<div>

	<table border="0" cellspacing="0">
		<colgroup width="40">
		</colgroup>
		<tbody>
			<tr>
				<td align="left" height="17" sdnum="1028;0;0000" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">課號</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">課名</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選課別</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">學分</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">老師</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">星期一</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">星期二</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">星期三</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">星期四</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">星期五</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">備註</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">限制人數</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="20" sdnum="1028;0;0000" sdval="367" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">0367</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:英文' %}>大二英文</a>
					</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="2" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">鍾崇蘭</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3-4</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">中高級(職場組)</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="45" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">45</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="32" sdnum="1028;0;0000" sdval="2483" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2483</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:物件導向' %}>物件導向</a>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="3" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">洪國龍</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">5-7<br />
						G-610</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="60" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">60</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="32" sdnum="1028;0;0000" sdval="2484" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2484</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:資料庫管理系統' %}>資料庫管理系統</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="4" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">4</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">陳靖國</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">1-4<br />
						T2-507</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="60" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">60</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="32" sdnum="1028;0;0000" sdval="2485" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2485</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:電腦網路' %}>電腦網路</a></span></span></h2>
					</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="3" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">林芳昌</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">7-9<br />
						M-514</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="55" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">55</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="20" sdnum="1028;0;0000" sdval="2432" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2432</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:創造力' %}>創造力</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="2" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">羅有隆</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">1-2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選優先本班(資訊學院日間部二年級)選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="50" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">50</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="35" sdnum="1028;0;0000" sdval="2478" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2478</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:電子商務' %}>電子商務</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="3" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">薛夙珍</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">中午-6<br />
						M-516</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="65" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">65</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="35" sdnum="1028;0;0000" sdval="2479" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2479</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:電腦動畫' %}>電腦動畫</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="3" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">陳榮昌</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">中午-6<br />
						M-516</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="60" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">60</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="32" sdnum="1028;0;0000" sdval="2480" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2480</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:應用統計學' %}>應用統計學</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="3" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">劉熒潔</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">7-9<br />
						M-514</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="55" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">55</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="17" sdnum="1028;0;0000" sdval="2481" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2481</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:作業研究概論' %}>作業研究概論</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="3" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">陳隆昇</span></span></h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">1-3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="70" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">70</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="32" sdnum="1028;0;0000" sdval="2486" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2486</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:JavaScript程式設計' %}>JavaScript程式設計</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="3" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">3</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">唐元亮</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">1-3<br />
						M-514</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">初選限本班選課。</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="55" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">55</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="20" sdnum="1028;0;0000" sdval="147" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">0147</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:有氧舞蹈' %}>有氧舞蹈</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選擇必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="2" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">李亭儀</span></span></h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">7-8</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">四年制運動與健康(選項體育課群)可替代「選項體育課群」課程</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="42" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">42</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="20" sdnum="1028;0;0000" sdval="156" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">0156</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:桌球' %}>桌球</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選擇必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="2" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">許吉越</span></span></h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">7-8</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">四年制運動與健康(選項體育課群)可替代「選項體育課群」課程</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="62" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">62</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="20" sdnum="1028;0;0000" sdval="164" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">0164</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:高爾夫球' %}>高爾夫球</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選擇必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="2" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">林朝琴</span></span></h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">7-8</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">四年制運動與健康(選項體育課群)可替代「選項體育課群」課程</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="73" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">73</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="20" sdnum="1028;0;0000" sdval="169" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">0169</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:排球' %}>排球</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選擇必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="2" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">胡長豪</span></span></h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">7-8</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">四年制運動與健康(選項體育課群)可替代「選項體育課群」課程</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="73" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">73</span></span></h2>
				</td>
			</tr>
			<tr>
				<td align="right" height="20" sdnum="1028;0;0000" sdval="175" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">0175</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<a href={% url 'init:網球' %}>網球</a></span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">選擇必修</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="2" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">2</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">許弘恩</span></span></h2>
				</td>
				<td align="left" sdnum="1028;0;@" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">7-8</span></span></h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						&nbsp;</h2>
				</td>
				<td align="left" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">四年制運動與健康(選項體育課群)可替代「選項體育課群」課程</span></span></h2>
				</td>
				<td align="right" sdnum="1028;" sdval="61" style="border-style: solid; border-color: rgb(0, 0, 0);">
					<h2>
						<span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">61</span></span></h2>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<p>
	&nbsp;</p>
