<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" colspan="4" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				課程資訊</td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				當期課號：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsno">2432</span></td>
			<td class="td_head" style="width: 91px;">
				中文科名：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_sbjname">創造力</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				授課教師：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_MainTeacher">羅有隆</span></td>
			<td class="td_head" style="width: 91px;">
				開課單位：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_depname">資訊學院</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				學分數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_credit">2</span></td>
			<td class="td_head" style="width: 91px;">
				開課班級：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_class">日間部 四年制 0班</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				修課時數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_hour">2</span></td>
			<td class="td_head" style="width: 91px;">
				修習別：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_crt">專業選修</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				類別：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_othtype">一般課程</span></td>
			<td class="td_head" style="width: 91px;">
				&nbsp;</td>
			<td class="td_body" style="width: 291px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				節次, 地點：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsdata">(四)1-2,;</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<div id="cor_panel" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205);">
		<tbody>
			<tr>
				<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
					本課程與系所培養學生核心能力關聯度：</td>
			</tr>
			<tr>
				<td>
					<div>
						&nbsp;</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				本課程培養學生下列知識：</td>
		</tr>
		<tr>
			<td>
				<span id="obj_object">本課程以創造力的概念為基礎，導入不同類型的創意思考方法，藉由實務演練的學習，激發學生在創意與創新的學習興趣與能力。 學生在修習本課程結束後，預期可達成以下之目標： (一)知識目標 1.瞭解創造力的定義、義涵與本質 2.瞭解各種創意思考的方法 3.瞭解創意思考在資訊領域的應用 (二)情意目標 1.培養學習的好奇心 2.培養創意的想像力 3.培養創新的企圖心 (三)技能目標 1.學習創造力之實務演練方式 2.學習結合手、眼、腦之創意與創作思考歷程 3.學習規劃與操作創意與創新資訊技術<br />
				<br />
				1.瞭解創造力的策略與技法<br />
				2.瞭解創意思考在資訊領域的應用<br />
				3.培養好奇心與創意的想像力<br />
				4.透過實務演練學習創意思考歷程<br />
				<br />
				With the concept of creativity as the foundation, this course introduces different models of creativity thinking. Through actual practice, students&rsquo; interests and capacity in creativity and innovation will be stimulated. Students will be expected to achieve the following goals upon completion of the course: (1)Knowledge 1.Understand the definition, connotations, and essence of creativity 2.Understand various ways of creative thinking 3.Understand the applications of creative thinking in information technology (2)Attitudes 1.Cultivate curiosity in learning 2.Cultivate creative imagination 3.Cultivate the ambitions in innovation (3)Skills 1.Learn the practice of creativity 2.Learn to use hands, eyes, and brains in creation and the process of creative thinking 3.Learn to plan and operate creativity and innovative thinking in information technology</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				每週授課主題：
				<div style="color: red;">
					於第1週宣導學生使用正版教科書，並於教學過程中適時提醒或制止學生使用不法影印教科書。</div>
			</td>
		</tr>
		<tr>
			<td>
				<span id="syl_list">第01週：創意概念簡介<br />
				第02週：創意的產生方式<br />
				第03週：創新的意義與內函<br />
				第04週：培養創造力的策略<br />
				第05週：創意思考自我訓練<br />
				第06週：九宮格法介紹與練習<br />
				第07週：心智圖法介紹與練習<br />
				第08週：資訊技術專利、創意好點子發想<br />
				第09週：創意好點子競賽(期中作業)<br />
				第10週：團隊腦力激盪默契訓練<br />
				第11週：卡片式、KJ法<br />
				第12週：六頂思考帽<br />
				第13週：IDEO創新流程介紹<br />
				第14週：IDEO創新流程演練<br />
				第15週：世界咖啡館<br />
				第16週：創造力於資訊領域之應用(一)<br />
				第17週：創造力於資訊領域之應用(二)<br />
				第18週：資訊創意設計競賽</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				成績及評量方式：</td>
		</tr>
		<tr>
			<td>
				<span id="ass_list">出席&amp;課堂練習：60%<br />
				期中作業：20%<br />
				期末作業：20%</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				證照、國家考試及競賽關係：</td>
		</tr>
		<tr>
			<td>
				<span id="lic_list">本課程無證照、國家考試及競賽資料。</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				主要教材：</td>
		</tr>
		<tr>
			<td>
				<span id="sym_list">1.自編(教科書)</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				參考資料：</td>
		</tr>
		<tr>
			<td>
				<span id="ref_list">本課程無參考資料!</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				建議先修課程：</td>
		</tr>
		<tr>
			<td>
				<span id="syp_list">本課程無建議先修課程</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				教師資料：</td>
		</tr>
		<tr>
			<td>
				教師網頁：<span id="syl_url">http://lms.ctl.cyut.edu.tw/</span><br />
				E-Mail：&nbsp;<span id="syl_email">yllo@cyut.edu.tw</span><br />
				Office Hour：&nbsp;<br />
				<span id="t_oh">星期二,第3~4節,地點:T2-1029;<br />
				星期四,第3~4節,地點:T2-1029;<br />
				分機:4274</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
