<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" colspan="4" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				課程資訊</td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				當期課號：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsno">0156</span></td>
			<td class="td_head" style="width: 91px;">
				中文科名：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_sbjname">桌球</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				授課教師：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_MainTeacher">許吉越</span></td>
			<td class="td_head" style="width: 91px;">
				開課單位：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_depname">通識教育中心</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				學分數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_credit">2</span></td>
			<td class="td_head" style="width: 91px;">
				開課班級：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_class">日間部 四年制 0班</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				修課時數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_hour">2</span></td>
			<td class="td_head" style="width: 91px;">
				修習別：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_crt">校訂必修(運動與健康(選項體育課群))</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				類別：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_othtype">一般課程</span></td>
			<td class="td_head" style="width: 91px;">
				&nbsp;</td>
			<td class="td_body" style="width: 291px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				節次, 地點：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsdata">(一)7-8,;</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<div id="cap_panel2" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205);">
		<tbody>
			<tr>
				<td class="item_head" colspan="5" style="font-weight: bold; background-color: rgb(150, 205, 205);">
					本課程與系所培養學生能力指標關聯度：</td>
			</tr>
			<tr>
				<td>
					<table style="border-collapse: collapse; width: 775px;">
						<tbody>
							<tr>
								<td class="item_head" style="font-weight: bold; width: 250px; text-align: center; background-color: rgb(150, 205, 205);">
									核心能力</td>
								<td class="item_head" style="font-weight: bold; width: 300px; text-align: center; background-color: rgb(150, 205, 205);">
									能力指標</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									高度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									中度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									低度關聯</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="2" style="border-style: solid; border-color: rgb(153, 204, 255);">
									運動知識與技術學習能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									掌握各項運動的特性與資訊，了解運動規則</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									了解各項運動的基本知識與操作方式</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="2" style="border-style: solid; border-color: rgb(153, 204, 255);">
									終身運動習慣養成能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									養成規律運動的習慣，保持良好體適能</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									發展個人運動專長，建立終身運動嗜好</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									團隊合作與溝通互動能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									透過運動的過程養成良好的團隊合作精神</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				本課程培養學生下列知識：</td>
		</tr>
		<tr>
			<td>
				<span id="obj_object">運動場上最秀氣，且適合亞洲國家之運動-桌球。協調、速度、敏捷集於一身的室內運動，叫人不喜愛也難。當小白球在桌面上穿梭往返跳躍時在揮拍擊球中要根據對手來球之落點、力量與旋轉，在0.6秒中迅速做出判斷並回擊球，是一種自我肯定與鬥志的運動。<br />
				<br />
				1.認識球拍種類,打法類型不同<br />
				2.推檔球<br />
				3.正手攻擊<br />
				4.單、雙打比賽規則<br />
				5.比賽制度的認識<br />
				6.培養團隊合作精神與溝通互動能力<br />
				7.享受運動樂趣<br />
				<br />
				Course description: The most delicate and suitable sport to Asian countries&mdash;table tennis. It is very difficult to refuse the lovely indoor sport &ndash; table tennis, with the combination of coordination, speed, and agility all together. When the small white ball jumping back and forth on the table, the player has to make a quick decision within 0.6 second according to the jumping point, the strength and the turning way of the ball, then hit it back to the other side of the table. It is an exercise of training of being independent, self-confirm and mind-fighting.</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				每週授課主題：
				<div style="color: red;">
					於第1週宣導學生使用正版教科書，並於教學過程中適時提醒或制止學生使用不法影印教科書。</div>
			</td>
		</tr>
		<tr>
			<td>
				<span id="syl_list">第01週：課程簡介、進度說明<br />
				第02週：桌球運動之起源與發展、國內外桌球運動之現況介紹<br />
				第03週：推球基本動作講解、示範與練習<br />
				第04週：正手攻基本動作講解、示範與練習<br />
				第05週：步法與運用時機講解、示範<br />
				第06週：左推右攻、側併步基本動作講解、示範與練習<br />
				第07週：推球側身攻、跳步基本動作講解、示範與練習<br />
				第08週：推側撲、交叉步基本動作講解、示範與練習<br />
				第09週：發下旋球、搓球基本動作講解、示範與練習<br />
				第10週：發左、右旋轉球和如何接發球，動作講解、示範與練習<br />
				第11週：單打規則與裁判法介紹單打比賽練習<br />
				第12週：雙打規則與裁判法介紹雙打比賽練習<br />
				第13週：團體賽出場次序之排點藝術介紹與練習<br />
				第14週：團體賽實際比賽演練、團隊討論<br />
				第15週：團體賽實際比賽演練、團隊討論<br />
				第16週：團體賽實際比賽演練、團隊討論<br />
				第17週：綜合練習與討論<br />
				第18週：綜合檢討與期末測驗</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				成績及評量方式：</td>
		</tr>
		<tr>
			<td>
				<span id="ass_list">平時作業及出席：40%<br />
				學習態度：20%<br />
				期中考：20%<br />
				期末考：20%</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				證照、國家考試及競賽關係：</td>
		</tr>
		<tr>
			<td>
				<span id="lic_list">■C級桌球教練証<br />
				■C級桌球裁判証</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				主要教材：</td>
		</tr>
		<tr>
			<td>
				<span id="sym_list">1.最新國際桌球規則：中華民國桌球協會編譯發行(教科書)<br />
				2.乒乓球步法的技巧（2003），張博著，大展圖書公司編輯部編譯：臺北市 (教科書)<br />
				3.乒乓球發球與接發球（2002），張良西著，大展圖書公司編輯部編譯：臺北市 (教科書)<br />
				4.乒乓球技巧圖解（2006），劉雪、趙霞著，大展圖書公司編輯部編譯：臺北市(教科書)</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				參考資料：</td>
		</tr>
		<tr>
			<td>
				<span id="ref_list">本課程無參考資料!</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				建議先修課程：</td>
		</tr>
		<tr>
			<td>
				<span id="syp_list">本課程無建議先修課程</span></td>
		</tr>
	</tbody>
</table>
<br style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;" />
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				教師資料：</td>
		</tr>
		<tr>
			<td>
				教師網頁：<span id="syl_url">http://www.cyut.edu.tw/~mywang/</span><br />
				E-Mail：&nbsp;<span id="syl_email">mywang@cyut.edu.tw</span><br />
				Office Hour：&nbsp;<br />
				<span id="t_oh">星期四,第7~8節,地點:S-201;<br />
				星期五,第7~8節,地點:S-201;<br />
				分機:3055、4444、3055</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
