<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" colspan="4" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				課程資訊</td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				當期課號：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsno">0175</span></td>
			<td class="td_head" style="width: 91px;">
				中文科名：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_sbjname">網球</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				授課教師：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_MainTeacher">許弘恩</span></td>
			<td class="td_head" style="width: 91px;">
				開課單位：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_depname">通識教育中心</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				學分數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_credit">2</span></td>
			<td class="td_head" style="width: 91px;">
				開課班級：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_class">日間部 四年制 0班</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				修課時數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_hour">2</span></td>
			<td class="td_head" style="width: 91px;">
				修習別：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_crt">校訂必修(運動與健康(選項體育課群))</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				類別：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_othtype">一般課程</span></td>
			<td class="td_head" style="width: 91px;">
				&nbsp;</td>
			<td class="td_body" style="width: 291px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				節次, 地點：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsdata">(一)7-8,;</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="cap_panel2" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205);">
		<tbody>
			<tr>
				<td class="item_head" colspan="5" style="font-weight: bold; background-color: rgb(150, 205, 205);">
					本課程與系所培養學生能力指標關聯度：</td>
			</tr>
			<tr>
				<td>
					<table style="border-collapse: collapse; width: 775px;">
						<tbody>
							<tr>
								<td class="item_head" style="font-weight: bold; width: 250px; text-align: center; background-color: rgb(150, 205, 205);">
									核心能力</td>
								<td class="item_head" style="font-weight: bold; width: 300px; text-align: center; background-color: rgb(150, 205, 205);">
									能力指標</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									高度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									中度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									低度關聯</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="2" style="border-style: solid; border-color: rgb(153, 204, 255);">
									運動知識與技術學習能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									掌握各項運動的特性與資訊，了解運動規則</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									了解各項運動的基本知識與操作方式</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="2" style="border-style: solid; border-color: rgb(153, 204, 255);">
									終身運動習慣養成能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									養成規律運動的習慣，保持良好體適能</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									發展個人運動專長，建立終身運動嗜好</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									團隊合作與溝通互動能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									積極參與校內外運動競賽，努力爭取團隊榮譽</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				本課程培養學生下列知識：</td>
		</tr>
		<tr>
			<td>
				<span id="obj_object">透過本課程教導學生瞭解網球運動之簡史、規則與理論，並教導學生進行體能與網球技術的訓練，藉以激發學生之自我潛能，加強運動道德觀，發揮團隊合作精神，建立互助合作之人格特質，讓學生享受網球運動的樂趣，以培養休閒運動之能力，養成終身規律運動的好習慣。<br />
				<br />
				1.教導學生瞭解網球運動之簡史、規則及理論<br />
				2.教導學生學習網球之基本技術及專項體能訓練<br />
				3.透過本課程以培養學生之自我學習、運動道德及團隊合作之能力<br />
				4.透過本課程培養網球運動為學生終身休閒運動項目，充實其生活內容<br />
				<br />
				Through this course will teach students to understand the brief history of tennis, tennis rules and theory. Training student&rsquo;s physical fitness and tennis skills to inspire student&rsquo;s self potential, Enhance sports ethics, play team spirit of cooperation, and establish personality traits of mutual assistance and cooperation. To enable students to enjoy the fun of tennis, train recreational sport&rsquo;s ability, and develop the good habit of regular exercise for life.</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				每週授課主題：
				<div style="color: red;">
					於第1週宣導學生使用正版教科書，並於教學過程中適時提醒或制止學生使用不法影印教科書。</div>
			</td>
		</tr>
		<tr>
			<td>
				<span id="syl_list">第01週：課程簡介、進度說明<br />
				第02週：網球運動之起源與發展<br />
				第03週：網球規則與裁判法介紹<br />
				第04週：網球競賽方法與禮儀介紹<br />
				第05週：體能訓練、球感練習與正拍基本動作介紹<br />
				第06週：體能訓練、球感練習與正拍練習<br />
				第07週：體能訓練、正拍擊球與正拍基本動作介紹<br />
				第08週：體能訓練、正拍擊球與正拍練習<br />
				第09週：體能訓練、反拍擊球與反拍基本動作<br />
				第10週：體能訓練、反拍擊球與反拍練習<br />
				第11週：體能訓練、正、反拍綜合擊球動作介紹<br />
				第12週：體能訓練、正、反拍綜合擊球練習<br />
				第13週：體能訓練、發球基本動作介紹<br />
				第14週：體能訓練、發球練習<br />
				第15週：單打練習、團體討論<br />
				第16週：雙打練習、團體討論<br />
				第17週：團體賽練習、分組討論<br />
				第18週：綜合檢討與期末測驗</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				成績及評量方式：</td>
		</tr>
		<tr>
			<td>
				<span id="ass_list">個人技能測驗 ：20%<br />
				個人運動精神：20%<br />
				團隊演練測驗：20%<br />
				出席率：40%</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				證照、國家考試及競賽關係：</td>
		</tr>
		<tr>
			<td>
				<span id="lic_list">■C級網球裁判</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				主要教材：</td>
		</tr>
		<tr>
			<td>
				<span id="sym_list">1. 書名：網球大全(1992)，張志純譯 作者：. 出版社：. (教科書)<br />
				2. 書名：網球全能技術圖解(2004)，宋強。諾亞森林發行 臺北縣中和市：貿騰總經銷。 作者：. 出版社：. (教科書)<br />
				3. 書名：卡通-網球王子 作者：. 出版社：. (教科書)</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				參考資料：</td>
		</tr>
		<tr>
			<td>
				<span id="ref_list">本課程無參考資料!</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				建議先修課程：</td>
		</tr>
		<tr>
			<td>
				<span id="syp_list">本課程無建議先修課程</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				教師資料：</td>
		</tr>
		<tr>
			<td>
				教師網頁：<span id="syl_url">http://www.cyut.edu.tw/~tpvc/</span><br />
				E-Mail：&nbsp;<span id="syl_email">tpvc@cyut.edu.tw</span><br />
				Office Hour：&nbsp;<br />
				<span id="t_oh">分機:</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
