<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" colspan="4" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				課程資訊</td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				當期課號：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsno">0367</span></td>
			<td class="td_head" style="width: 91px;">
				中文科名：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_sbjname">大二英文</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				授課教師：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_MainTeacher">鍾崇蘭</span></td>
			<td class="td_head" style="width: 91px;">
				開課單位：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_depname">通識教育中心</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				學分數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_credit">2</span></td>
			<td class="td_head" style="width: 91px;">
				開課班級：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_class">日間部 四年制 1班</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				修課時數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_hour">2</span></td>
			<td class="td_head" style="width: 91px;">
				修習別：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_crt">校訂必修</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				類別：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_othtype">一般課程</span></td>
			<td class="td_head" style="width: 91px;">
				&nbsp;</td>
			<td class="td_body" style="width: 291px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				節次, 地點：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsdata">(四)3-4,;</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="cap_panel2" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205);">
		<tbody>
			<tr>
				<td class="item_head" colspan="5" style="font-weight: bold; background-color: rgb(150, 205, 205);">
					本課程與系所培養學生能力指標關聯度：</td>
			</tr>
			<tr>
				<td>
					<table style="border-collapse: collapse; width: 775px;">
						<tbody>
							<tr>
								<td class="item_head" style="font-weight: bold; width: 250px; text-align: center; background-color: rgb(150, 205, 205);">
									核心能力</td>
								<td class="item_head" style="font-weight: bold; width: 300px; text-align: center; background-color: rgb(150, 205, 205);">
									能力指標</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									高度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									中度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									低度關聯</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="2" style="border-style: solid; border-color: rgb(153, 204, 255);">
									以英語或其他外語參與社交活動、工作溝通之能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									以英語或其他外語瞭解並進行日常生活或工作方面的語句或會話。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									以英語或其他外語書寫日常生活或工作方面的語句、段落或文章。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									閱讀並理解日常生活資訊及不同主題文章之能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									以英語或其他外語閱讀日常生活或工作方面的段落或文章。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									以英、外語認識世界多元文化之能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									欣賞多元文化的態度與能力。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									有效自主學習英、外語之能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									規劃英語或其他外語的學習計畫。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				本課程培養學生下列知識：</td>
		</tr>
		<tr>
			<td>
				<span id="obj_object">本課程是日間部四技大二學生的兩學期必修課程。<br />
				<br />
				1.聽：聽懂簡單的電話對話以及公共場所一般性的廣播。<br />
				2.說：進行特定的日常生活對話如購物、問路、經驗分享等。<br />
				3.讀：看懂路標、號誌、菜單、時刻表等以及能閱讀短篇故事。<br />
				4.寫：能以完整的文字與句型寫出與個人經歷有關的短文。<br />
				<br />
				This course is a two-semester required course for sophomores in Four-year Day Program. The goal of this course is to improve the following language skills. 1. Listening &ndash; To understand phone conversations and broadcasting announcements in public places. 2. Speaking &ndash; To make conversations about shopping, asking directions and sharing experiences. 3. Reading &ndash; To understand signposts, menus, timetables and to read short stories. 4. Writing &ndash; To compose short articles about personal experiences with proper sentence patterns and words.</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				每週授課主題：
				<div style="color: red;">
					於第1週宣導學生使用正版教科書，並於教學過程中適時提醒或制止學生使用不法影印教科書。</div>
			</td>
		</tr>
		<tr>
			<td>
				<span id="syl_list">第01週：Preparation&nbsp;<br />
				第02週：Unit 1<br />
				第03週：Unit 1&nbsp;<br />
				第04週：Unit 2<br />
				第05週：Unit 2<br />
				第06週：Unit 3&nbsp;<br />
				第07週：Unit 3&nbsp;<br />
				第08週：Unit 3<br />
				第09週：Midterm Exam&nbsp;<br />
				第10週：Movie Appreciation&nbsp;<br />
				第11週：Unit 4<br />
				第12週：Unit 4&nbsp;<br />
				第13週：Unit 5<br />
				第14週：Unit 5<br />
				第15週：Unit 6<br />
				第16週：Unit 6&nbsp;<br />
				第17週：Final Exam&nbsp;<br />
				第18週：Joint Exam&nbsp;</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				成績及評量方式：</td>
		</tr>
		<tr>
			<td>
				<span id="ass_list">口語(含簡報)：15%<br />
				新聞或商業文章閱讀：5%<br />
				句型或寫作(含簡報) ：15%<br />
				會考：20%<br />
				期中考：20%<br />
				期末考：25%</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				證照、國家考試及競賽關係：</td>
		</tr>
		<tr>
			<td>
				<span id="lic_list">■全民英檢(GEPT)<br />
				■多益(TOEIC)<br />
				■大學校院英語能力測驗(CSEPT)<br />
				■雅思(IELTS)<br />
				■托福(TOFEL)</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				主要教材：</td>
		</tr>
		<tr>
			<td>
				<span id="sym_list">1. 書名：On the Job 3 作者：Guy Redmer 出版社：HI Language Learning Co. Ltd (教科書)</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				參考資料：</td>
		</tr>
		<tr>
			<td>
				<span id="ref_list">本課程無參考資料!</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				建議先修課程：</td>
		</tr>
		<tr>
			<td>
				<span id="syp_list">本課程無建議先修課程</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				教師資料：</td>
		</tr>
		<tr>
			<td>
				教師網頁：<span id="syl_url">http://www.cyut.edu.tw/~katrinacamburides/</span><br />
				E-Mail：&nbsp;<span id="syl_email">katrinacamburides@cyut.edu.tw</span><br />
				Office Hour：&nbsp;<br />
				<span id="t_oh">分機:</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
