<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" colspan="4" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				課程資訊</td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				當期課號：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsno">2478</span></td>
			<td class="td_head" style="width: 91px;">
				中文科名：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_sbjname">電子商務</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				授課教師：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_MainTeacher">薛夙珍</span></td>
			<td class="td_head" style="width: 91px;">
				開課單位：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_depname">資訊管理系</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				學分數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_credit">3</span></td>
			<td class="td_head" style="width: 91px;">
				開課班級：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_class">日間部 四年制 2年級 B班</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				修課時數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_hour">3</span></td>
			<td class="td_head" style="width: 91px;">
				修習別：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_crt">專業選修</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				類別：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_othtype">網路授課</span></td>
			<td class="td_head" style="width: 91px;">
				&nbsp;</td>
			<td class="td_body" style="width: 291px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				節次, 地點：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsdata">(三)5-X,M-516;</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="cap_panel2" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205);">
		<tbody>
			<tr>
				<td class="item_head" colspan="5" style="font-weight: bold; background-color: rgb(150, 205, 205);">
					本課程與系所培養學生能力指標關聯度：</td>
			</tr>
			<tr>
				<td>
					<table style="border-collapse: collapse; width: 775px;">
						<tbody>
							<tr>
								<td class="item_head" style="font-weight: bold; width: 250px; text-align: center; background-color: rgb(150, 205, 205);">
									核心能力</td>
								<td class="item_head" style="font-weight: bold; width: 300px; text-align: center; background-color: rgb(150, 205, 205);">
									能力指標</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									高度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									中度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									低度關聯</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									管理知能於組織資源之運用能力。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									企業需求分析與規畫</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									資訊技能於資訊系統之應用能力。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									系統設計及開發</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									資管相關時事議題認知與自主學習能力。</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									自主學習能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				本課程培養學生下列知識：</td>
		</tr>
		<tr>
			<td>
				<span id="obj_object">1、知識：教導學生瞭解電子商務的內涵，以及電子商務在實務上的運作 2、技能：使學生能活用電子商務的知識於EB、B2C、C2C、及B2B的經營與分析 3、能度：培養學生主動學習電子商務新知及活用所習得知識的創新能力 4、其他：了解電子商務的現況及新的趨勢<br />
				<br />
				1.學生了解電子商務的概念<br />
				2.學生需了解EB、B2C、C2C、及B2B<br />
				3.學生需了解電子商務在實務上的運作<br />
				4.學生需能活用電子商務知識於EB、B2C、C2C、及B2B的經營與分析<br />
				5.藉由相關個案、科技產業新聞、及作業的討論培養學生互相學習的能力<br />
				<br />
				The purpose of this course is to teach students that the Electronic Commerce (EC)is a multidisciplinary science that includes four aspects. These are computer science, business management, marketing and legal issues. Through course teach, students know how EC runs in real world.</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				每週授課主題：
				<div style="color: red;">
					於第1週宣導學生使用正版教科書，並於教學過程中適時提醒或制止學生使用不法影印教科書。</div>
			</td>
		</tr>
		<tr>
			<td>
				<span id="syl_list">第01週：本學期課程說明&nbsp;<br />
				第02週：電子商務簡介-基本概念與流程&nbsp;<br />
				第03週：電子商務的簡介-策略規劃與獲利模式&nbsp;<br />
				第04週：電子商務的經營模式-B2C&nbsp;<br />
				第05週：電子商務的經營模式-C2C&nbsp;<br />
				第06週：電子商務經營模式-B2B&nbsp;<br />
				第07週：電子化企業<br />
				第08週： 期中考總複習&nbsp;<br />
				第09週：期中考<br />
				第10週：電子拍賣&nbsp;<br />
				第11週： 網路行銷<br />
				第12週： 網路廣告&nbsp;<br />
				第13週：複習&nbsp;<br />
				第14週：電子商務安全<br />
				第15週： 電子商務付款<br />
				第16週： 新世代EC<br />
				第17週： 期末考總複習&nbsp;<br />
				第18週：期末考</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				成績及評量方式：</td>
		</tr>
		<tr>
			<td>
				<span id="ass_list">期中考：20%<br />
				期末考：20%<br />
				作業與網路議題討論：50%<br />
				學習態度與出席：10%</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				證照、國家考試及競賽關係：</td>
		</tr>
		<tr>
			<td>
				<span id="lic_list">本課程無證照、國家考試及競賽資料。</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				主要教材：</td>
		</tr>
		<tr>
			<td>
				<span id="sym_list">1. 書名：電子商務 二版 滄海出版 作者：欒斌 出版社：滄海 版次：第二版 (教科書)<br />
				2. 書名：電子商務 作者：盧希鵬 出版社：雙葉 版次：第二版 (教科書)</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				參考資料：</td>
		</tr>
		<tr>
			<td>
				<span id="ref_list">本課程無參考資料!</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				建議先修課程：</td>
		</tr>
		<tr>
			<td>
				<span id="syp_list">本課程無建議先修課程</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				教師資料：</td>
		</tr>
		<tr>
			<td>
				教師網頁：<span id="syl_url">http://www.cyut.edu.tw/~schsueh/</span><br />
				E-Mail：&nbsp;<span id="syl_email">schsueh@cyut.edu.tw</span><br />
				Office Hour：&nbsp;<br />
				<span id="t_oh">星期二,第3~4節,地點:T2-914.1;<br />
				星期三,第7節,地點:T2-914.1;<br />
				星期四,第7節,地點:T2-914.1;<br />
				分機:4231</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
