<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" colspan="4" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				課程資訊</td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				當期課號：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsno">0164</span></td>
			<td class="td_head" style="width: 91px;">
				中文科名：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_sbjname">高爾夫球</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				授課教師：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_MainTeacher">林朝琴</span></td>
			<td class="td_head" style="width: 91px;">
				開課單位：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_depname">通識教育中心</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				學分數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_credit">2</span></td>
			<td class="td_head" style="width: 91px;">
				開課班級：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_class">日間部 四年制 0班</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				修課時數：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_hour">2</span></td>
			<td class="td_head" style="width: 91px;">
				修習別：</td>
			<td class="td_body" style="width: 291px;">
				<span id="info_crt">校訂必修(運動與健康(選項體育課群))</span></td>
		</tr>
		<tr>
			<td class="td_head" style="width: 91px;">
				類別：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_othtype">一般課程</span></td>
			<td class="td_head" style="width: 91px;">
				&nbsp;</td>
			<td class="td_body" style="width: 291px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				節次, 地點：</td>
			<td class="td_body" style="width: 292px;">
				<span id="info_crsdata">(一)7-8,;</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div id="cap_panel2" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205);">
		<tbody>
			<tr>
				<td class="item_head" colspan="5" style="font-weight: bold; background-color: rgb(150, 205, 205);">
					本課程與系所培養學生能力指標關聯度：</td>
			</tr>
			<tr>
				<td>
					<table style="border-collapse: collapse; width: 775px;">
						<tbody>
							<tr>
								<td class="item_head" style="font-weight: bold; width: 250px; text-align: center; background-color: rgb(150, 205, 205);">
									核心能力</td>
								<td class="item_head" style="font-weight: bold; width: 300px; text-align: center; background-color: rgb(150, 205, 205);">
									能力指標</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									高度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									中度關聯</td>
								<td class="item_head" style="font-weight: bold; width: 20px; text-align: center; background-color: rgb(150, 205, 205);">
									低度關聯</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="2" style="border-style: solid; border-color: rgb(153, 204, 255);">
									運動知識與技術學習能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									掌握各項運動的特性與資訊，了解運動規則</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									了解各項運動的基本知識與操作方式</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr style="background-color: rgb(239, 243, 251);">
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									終身運動習慣養成能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									發展個人運動專長，建立終身運動嗜好</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
							</tr>
							<tr>
								<td class="cap_td" rowspan="1" style="border-style: solid; border-color: rgb(153, 204, 255);">
									團隊合作與溝通互動能力</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									積極參與校內外運動競賽，努力爭取團隊榮譽</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									&nbsp;</td>
								<td class="cap_td" style="border-style: solid; border-color: rgb(153, 204, 255);">
									✔</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				本課程培養學生下列知識：</td>
		</tr>
		<tr>
			<td>
				<span id="obj_object">透過本課程教導學生瞭解高爾夫球運動之簡史、規則與理論，並教導學生進行體能與高爾夫球技術的訓練，藉以激發學生之自我潛能，加強運動道德觀，發揮團隊合作精神，建立互助合作之人格特質，讓學生享受高爾夫球運動的樂趣，以培養休閒運動之能力，養成終身規律運動的好習慣<br />
				<br />
				1.高爾夫歷史與發展<br />
				2.高爾夫運動原理<br />
				3.高爾夫基本站姿<br />
				4.高爾夫基本揮桿動作<br />
				5.培養團隊活動與溝通互動<br />
				6.養成終身規律運動之效能<br />
				<br />
				Course description: An exercise that playing against the nature. Players can feel relax and comfortable by playing it. Golf is not an exciting sport, and it has no limitation of age and sex, viewing via reciprocity, it is a public sport. Through the basic skills learning of holding the golf club, the way of hitting balls, the real practice on the green field, beginners can achieve self-training and decision-making, furthermore, arouse their interests of playing golf as a whole life exercise.</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				每週授課主題：
				<div style="color: red;">
					於第1週宣導學生使用正版教科書，並於教學過程中適時提醒或制止學生使用不法影印教科書。</div>
			</td>
		</tr>
		<tr>
			<td>
				<span id="syl_list">第01週：課程簡介、進度說明<br />
				第02週：高爾夫球運動之起源與發展<br />
				第03週：高爾夫球規則、裁判法與禮儀介紹<br />
				第04週：高爾夫球運動原理<br />
				第05週：體能訓練、握桿法及站姿基本動作介紹<br />
				第06週：體能訓練、全揮桿基本動作介紹&nbsp;<br />
				第07週：體能訓練、預備動作練習<br />
				第08週：體能訓練、上桿動作練習<br />
				第09週： 體能訓練、下桿動作練習<br />
				第10週：體能訓練、全揮桿擊球練習&nbsp;<br />
				第11週：體能訓練、全揮桿擊球練習&nbsp;<br />
				第12週：體能訓練、全揮桿擊球練習&nbsp;<br />
				第13週：體能訓練、全揮桿擊球練習&nbsp;<br />
				第14週：體能訓練、推桿基本動作介紹<br />
				第15週：全揮桿擊球練習<br />
				第16週：期末測驗<br />
				第17週：期末測驗<br />
				第18週：綜合檢討與期末測驗</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				成績及評量方式：</td>
		</tr>
		<tr>
			<td>
				<span id="ass_list">個人技能測驗：30%<br />
				團隊演練測驗：30%<br />
				出席率：40%</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				證照、國家考試及競賽關係：</td>
		</tr>
		<tr>
			<td>
				<span id="lic_list">■台灣YMCA國際體適能認證中心-健康體適能生活原則<br />
				■中華民國職業高爾夫球協會-C級高爾夫教練証</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				主要教材：</td>
		</tr>
		<tr>
			<td>
				<span id="sym_list">1. 書名：高爾夫天王：老虎．伍茲 Tiger Woods--Heart of a Champion 作者：. 出版社：索書號：DVD 993.52 25772 (教科書)<br />
				2. 書名：GOLF高爾夫全能學習圖解指南 作者：彼得.墨瑞斯 出版社：商周出版 (教科書)</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				參考資料：</td>
		</tr>
		<tr>
			<td>
				<span id="ref_list">本課程無參考資料!</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				建議先修課程：</td>
		</tr>
		<tr>
			<td>
				<span id="syp_list">本課程無建議先修課程</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table class="item" style="width: 783px; border-style: solid; border-color: rgb(150, 205, 205); color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium;">
	<tbody>
		<tr>
			<td class="item_head" style="font-weight: bold; background-color: rgb(150, 205, 205);">
				教師資料：</td>
		</tr>
		<tr>
			<td>
				教師網頁：<span id="syl_url">http://www.cyut.edu.tw/~phy/</span><br />
				E-Mail：&nbsp;<span id="syl_email">phy@cyut.edu.tw</span><br />
				Office Hour：&nbsp;<br />
				<span id="t_oh">分機:</span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
